/* ============================================================================= HTML5 Boilerplate CSS: h5bp.com/css ========================================================================== */
/* line 5, ../SASS/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* line 6, ../SASS/_normalize.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 7, ../SASS/_normalize.scss */
audio:not([controls]) { display: none; }

/* line 8, ../SASS/_normalize.scss */
[hidden] { display: none; }

/* line 10, ../SASS/_normalize.scss */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 11, ../SASS/_normalize.scss */
html, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* line 12, ../SASS/_normalize.scss */
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* line 14, ../SASS/_normalize.scss */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* line 15, ../SASS/_normalize.scss */
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* line 17, ../SASS/_normalize.scss */
a { color: #00e; }

/* line 18, ../SASS/_normalize.scss */
a:visited { color: #551a8b; }

/* line 19, ../SASS/_normalize.scss */
a:hover { color: #06e; }

/* line 20, ../SASS/_normalize.scss */
a:focus { outline: thin dotted; }

/* line 21, ../SASS/_normalize.scss */
a:hover, a:active { outline: 0; }

/* line 23, ../SASS/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 24, ../SASS/_normalize.scss */
b, strong { font-weight: bold; }

/* line 25, ../SASS/_normalize.scss */
blockquote { margin: 1em 40px; }

/* line 26, ../SASS/_normalize.scss */
dfn { font-style: italic; }

/* line 27, ../SASS/_normalize.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* line 28, ../SASS/_normalize.scss */
ins { background: #ff9; color: #000; text-decoration: none; }

/* line 29, ../SASS/_normalize.scss */
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* line 30, ../SASS/_normalize.scss */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* line 31, ../SASS/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 32, ../SASS/_normalize.scss */
q { quotes: none; }

/* line 33, ../SASS/_normalize.scss */
q:before, q:after { content: ""; content: none; }

/* line 34, ../SASS/_normalize.scss */
small { font-size: 85%; }

/* line 36, ../SASS/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 37, ../SASS/_normalize.scss */
sup { top: -0.5em; }

/* line 38, ../SASS/_normalize.scss */
sub { bottom: -0.25em; }

/* line 40, ../SASS/_normalize.scss */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

/* line 41, ../SASS/_normalize.scss */
dd { margin: 0 0 0 40px; }

/* line 42, ../SASS/_normalize.scss */
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* line 44, ../SASS/_normalize.scss */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* line 46, ../SASS/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 48, ../SASS/_normalize.scss */
figure { margin: 0; }

/* line 50, ../SASS/_normalize.scss */
form { margin: 0; }

/* line 51, ../SASS/_normalize.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 52, ../SASS/_normalize.scss */
label { cursor: pointer; }

/* line 53, ../SASS/_normalize.scss */
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/* line 54, ../SASS/_normalize.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 55, ../SASS/_normalize.scss */
button, input { line-height: normal; }

/* line 56, ../SASS/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/* line 57, ../SASS/_normalize.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 58, ../SASS/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

/* line 59, ../SASS/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 60, ../SASS/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* line 61, ../SASS/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 62, ../SASS/_normalize.scss */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* line 64, ../SASS/_normalize.scss */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* line 66, ../SASS/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 67, ../SASS/_normalize.scss */
td { vertical-align: top; }

/* line 69, ../SASS/_normalize.scss */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* line 70, ../SASS/_normalize.scss */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Action Icons (_actionicons.scss) */
/* line 17, ../SASS/_actionicons.scss */
div.ui-jqgrid .action { text-indent: -5000em; margin-left: 3px; }
/* line 19, ../SASS/_actionicons.scss */
div.ui-jqgrid .action:first { margin-left: 0; }

/* line 21, ../SASS/_actionicons.scss */
.action { display: inline-block; background: transparent url(../images/actions_sprite.png) 0px 0px no-repeat; width: 16px; height: 16px; overflow: visible; vertical-align: middle; }
/* line 28, ../SASS/_actionicons.scss */
.action.disabled { cursor: default; }

/* line 8, ../SASS/_actionicons.scss */
.pause.action { background-position: 0px 0px; }
/* line 11, ../SASS/_actionicons.scss */
.pause.action.disabled { background-position: -16px 0px; }

/* line 8, ../SASS/_actionicons.scss */
.play.action { background-position: 0px -16px; }
/* line 11, ../SASS/_actionicons.scss */
.play.action.disabled { background-position: -16px -16px; }

/* line 8, ../SASS/_actionicons.scss */
.edit.action { background-position: 0px -32px; }
/* line 11, ../SASS/_actionicons.scss */
.edit.action.disabled { background-position: -16px -32px; }

/* line 8, ../SASS/_actionicons.scss */
.copy.action { background-position: 0px -48px; }
/* line 11, ../SASS/_actionicons.scss */
.copy.action.disabled { background-position: -16px -48px; }

/* line 8, ../SASS/_actionicons.scss */
.stop.action { background-position: 0px -64px; }
/* line 11, ../SASS/_actionicons.scss */
.stop.action.disabled { background-position: -16px -64px; }

/* line 8, ../SASS/_actionicons.scss */
.reports.action { background-position: 0px -80px; }
/* line 11, ../SASS/_actionicons.scss */
.reports.action.disabled { background-position: -16px -80px; }

/* line 8, ../SASS/_actionicons.scss */
.confirm.action, .checked.action { background-position: 0px -96px; }
/* line 11, ../SASS/_actionicons.scss */
.confirm.action.disabled, .checked.action.disabled { background-position: -16px -96px; }

/* line 8, ../SASS/_actionicons.scss */
.deny.action { background-position: 0px -112px; }
/* line 11, ../SASS/_actionicons.scss */
.deny.action.disabled { background-position: -16px -112px; }

/* line 8, ../SASS/_actionicons.scss */
.help.action { background-position: 0px -128px; }
/* line 11, ../SASS/_actionicons.scss */
.help.action.disabled { background-position: -16px -128px; }

/* line 8, ../SASS/_actionicons.scss */
.add.action { background-position: 0px -144px; }
/* line 11, ../SASS/_actionicons.scss */
.add.action.disabled { background-position: -16px -144px; }

/* line 8, ../SASS/_actionicons.scss */
.email.action { background-position: 0px -160px; }
/* line 11, ../SASS/_actionicons.scss */
.email.action.disabled { background-position: -16px -160px; }

/* line 8, ../SASS/_actionicons.scss */
.excel.action { background-position: 0px -192px; }
/* line 11, ../SASS/_actionicons.scss */
.excel.action.disabled { background-position: -16px -192px; }

/* line 8, ../SASS/_actionicons.scss */
.code.action { background-position: 0px -208px; }
/* line 11, ../SASS/_actionicons.scss */
.code.action.disabled { background-position: -16px -208px; }

/* line 8, ../SASS/_actionicons.scss */
.next_page.action { background-position: 0px -224px; }
/* line 11, ../SASS/_actionicons.scss */
.next_page.action.disabled { background-position: -16px -224px; }

/* line 8, ../SASS/_actionicons.scss */
.next_user.action { background-position: 0px -240px; }
/* line 11, ../SASS/_actionicons.scss */
.next_user.action.disabled { background-position: -16px -240px; }

/* line 8, ../SASS/_actionicons.scss */
.next_cog.action { background-position: 0px -256px; }
/* line 11, ../SASS/_actionicons.scss */
.next_cog.action.disabled { background-position: -16px -256px; }

/* line 8, ../SASS/_actionicons.scss */
.add_award.action { background-position: 0px -272px; }
/* line 11, ../SASS/_actionicons.scss */
.add_award.action.disabled { background-position: -16px -272px; }

/* line 8, ../SASS/_actionicons.scss */
.star_user.action { background-position: 0px -288px; }
/* line 11, ../SASS/_actionicons.scss */
.star_user.action.disabled { background-position: -16px -288px; }

/* line 8, ../SASS/_actionicons.scss */
.info.action { background-position: 0px -304px; }
/* line 11, ../SASS/_actionicons.scss */
.info.action.disabled { background-position: -16px -304px; }

/* line 8, ../SASS/_actionicons.scss */
.microsite.action { background-position: 0px -320px; }
/* line 11, ../SASS/_actionicons.scss */
.microsite.action.disabled { background-position: -16px -320px; }

/* line 8, ../SASS/_actionicons.scss */
.lock.action { background-position: 0px -336px; }
/* line 11, ../SASS/_actionicons.scss */
.lock.action.disabled { background-position: -16px -336px; }

/* line 8, ../SASS/_actionicons.scss */
.move-up.action { background-position: 0px -352px; }
/* line 11, ../SASS/_actionicons.scss */
.move-up.action.disabled { background-position: -16px -352px; }

/* line 8, ../SASS/_actionicons.scss */
.move-down.action { background-position: 0px -368px; }
/* line 11, ../SASS/_actionicons.scss */
.move-down.action.disabled { background-position: -16px -368px; }

/* line 123, ../SASS/_actionicons.scss */
a:hover.action.flag-preferred, .action.flag-preferred.selected { background-position: 0 -384px; }

/* line 124, ../SASS/_actionicons.scss */
a:hover.action.flag-disqualifier, .action.flag-disqualifier.selected { background-position: 0 -400px; }

/* line 8, ../SASS/_actionicons.scss */
.flag-preferred.action { background-position: 0px -384px; }
/* line 11, ../SASS/_actionicons.scss */
.flag-preferred.action.disabled { background-position: -16px -384px; }

/* line 8, ../SASS/_actionicons.scss */
.flag-disqualifier.action { background-position: 0px -400px; }
/* line 11, ../SASS/_actionicons.scss */
.flag-disqualifier.action.disabled { background-position: -16px -400px; }

/* line 8, ../SASS/_actionicons.scss */
.logic.action { background-position: 0px -416px; }
/* line 11, ../SASS/_actionicons.scss */
.logic.action.disabled { background-position: -16px -416px; }

/* line 8, ../SASS/_actionicons.scss */
.remove.action { background-position: 0px -432px; }
/* line 11, ../SASS/_actionicons.scss */
.remove.action.disabled { background-position: -16px -432px; }

/* line 8, ../SASS/_actionicons.scss */
.filter.action { background-position: 0px -448px; }
/* line 11, ../SASS/_actionicons.scss */
.filter.action.disabled { background-position: -16px -448px; }

/* line 8, ../SASS/_actionicons.scss */
.users.action { background-position: 0px -464px; }
/* line 11, ../SASS/_actionicons.scss */
.users.action.disabled { background-position: -16px -464px; }

/* line 8, ../SASS/_actionicons.scss */
.comments.action { background-position: 0px -480px; }
/* line 11, ../SASS/_actionicons.scss */
.comments.action.disabled { background-position: -16px -480px; }
/* line 152, ../SASS/_actionicons.scss */
.comments.action { margin-bottom: 4px; }

/* line 8, ../SASS/_actionicons.scss */
.chatbubble.action { background-position: 0px -496px; }
/* line 11, ../SASS/_actionicons.scss */
.chatbubble.action.disabled { background-position: -16px -496px; }
/* line 157, ../SASS/_actionicons.scss */
.chatbubble.action { margin-bottom: 4px; }

/* line 8, ../SASS/_actionicons.scss */
.spyglass.action { background-position: 0px -512px; }
/* line 11, ../SASS/_actionicons.scss */
.spyglass.action.disabled { background-position: -16px -512px; }
/* line 162, ../SASS/_actionicons.scss */
.spyglass.action { margin-bottom: 4px; }

/* line 8, ../SASS/_actionicons.scss */
.zip.action { background-position: 0px -528px; }
/* line 11, ../SASS/_actionicons.scss */
.zip.action.disabled { background-position: -16px -528px; }
/* line 167, ../SASS/_actionicons.scss */
.zip.action { margin-bottom: 4px; }

/* line 8, ../SASS/_actionicons.scss */
.pdf.action { background-position: 0px -544px; }
/* line 11, ../SASS/_actionicons.scss */
.pdf.action.disabled { background-position: -16px -544px; }

/* line 8, ../SASS/_actionicons.scss */
.print.action { background-position: 0px -560px; }
/* line 11, ../SASS/_actionicons.scss */
.print.action.disabled { background-position: -16px -560px; }

/* line 8, ../SASS/_actionicons.scss */
.alert.action { background-position: 0px -576px; }
/* line 11, ../SASS/_actionicons.scss */
.alert.action.disabled { background-position: -16px -576px; }

/* line 182, ../SASS/_actionicons.scss */
.custom-registration .action { display: inline-block; float: none; }

/* Themeroller icon override */
/* line 185, ../SASS/_actionicons.scss */
.action.help, .ui-icon.help, .ui-icon.ui-icon-help { display: block; background: transparent url(../images/actions_sprite.png) 0px -128px no-repeat !important; width: 16px; height: 16px; }

/* line 189, ../SASS/_actionicons.scss */
.ui-icon.ui-icon-pencil, .ui-icon.ui-icon-disk, .ui-icon.ui-icon-cancel, .ui-icon.excel { display: block; background-repeat: no-repeat; background-image: url(../images/actions_sprite.png) !important; width: 16px; height: 16px; cursor: pointer; }

/* line 190, ../SASS/_actionicons.scss */
.ui-icon.ui-icon-pencil { background-position: 0 -32px; }

/* line 191, ../SASS/_actionicons.scss */
.ui-icon.ui-icon-cancel { background-position: 0 -64px; }

/* line 192, ../SASS/_actionicons.scss */
.action.disk, .ui-icon.ui-icon-disk { background-position: 0 -176px; }

/* line 193, ../SASS/_actionicons.scss */
.ui-icon.excel { background-position: 0 -192px; }

/* Status Messages (_statusmsg.scss) */
/* line 6, ../SASS/_statusmsg.scss */
.message { padding: 13px 13px 13px 53px; display: block; margin: 0 0 20px 0; -webkit-box-shadow: 0px 0px 10px 0px #b5b5b5; -moz-box-shadow: 0px 0px 10px 0px #b5b5b5; box-shadow: 0px 0px 10px 0px #b5b5b5; border: 1px dotted #666; font-style: italic; }
/* line 15, ../SASS/_statusmsg.scss */
.message > ul { padding: 0; margin: 0; }
/* line 18, ../SASS/_statusmsg.scss */
.message > ul > li { list-style: disc inside; margin: 5px 0; }

/* line 24, ../SASS/_statusmsg.scss */
.status-message { list-style: none; background-image: none; display: block; position: fixed; top: 0; margin: 0; z-index: 9999; text-align: center; border: 1px #000 dotted; width: 100%; padding: 15px 0; -webkit-box-shadow: 0px 0px 38px 0px #111; -moz-box-shadow: 0px 0px 38px 0px #111; box-shadow: 0px 0px 38px 0px #111; border-left: none; border-right: none; }
/* line 41, ../SASS/_statusmsg.scss */
.status-message.success { background: #dfd; color: #060; border-color: #060; }
/* line 46, ../SASS/_statusmsg.scss */
.status-message.info { background: #CFF; color: #039; border-color: #039; }
/* line 51, ../SASS/_statusmsg.scss */
.status-message.warning { background: #FCF4DC; color: #cc6600; border-color: #F30; }
/* line 56, ../SASS/_statusmsg.scss */
.status-message.error { background: #FFE8E8; color: #C00; border-color: #900; }
/* line 61, ../SASS/_statusmsg.scss */
.status-message ul { list-style: none; padding: 0 200px; margin: 0; }
/* line 67, ../SASS/_statusmsg.scss */
.status-message a.close { color: #999; text-decoration: none; font-size: 10px; cursor: pointer; }
/* line 73, ../SASS/_statusmsg.scss */
.status-message a:hover { color: #999; text-decoration: underline; }
/* line 77, ../SASS/_statusmsg.scss */
.status-message a:visited { color: #999; text-decoration: none; }

/* line 80, ../SASS/style.scss */
.pull-left, #di-secondary .nav-horizontal li, #form-field-container .basic-options fieldset, #theme-editor #sidebar, #theme-editor #content { float: left; }

/* line 81, ../SASS/style.scss */
.pull-right, .wizardBarItem input[type="button"], #form-field-container #sortable li label, #form-field-container #sortable li a { float: right; }

/* line 82, ../SASS/style.scss */
.clearfix, #di-secondary .nav-horizontal, .wizardBarItem, #form-field-container #sortable, #form-field-container .basic-options { *zoom: 1; }
/* line 22, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, #di-secondary .nav-horizontal:after, .wizardBarItem:after, #form-field-container #sortable:after, #form-field-container .basic-options:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* line 83, ../SASS/style.scss */
.centered, body > div:first-child, #di-secondary .nav-horizontal, .wizardBarItem h1, #form-field-container #form-controls, #theme-editor #contestPreview, #theme-editor .devices i, #theme-editor .brd-wrap { margin: 0 auto; }

/* line 84, ../SASS/style.scss */
.is-block, #form-field-container label { display: block; }

/* line 85, ../SASS/style.scss */
.no-filter { filter: none; }

/*Buttons*/
/* line 88, ../SASS/style.scss */
.btn, .btn-titlebar, .wizardBarItem input[type="button"], #form-field-container #form-controls button { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; cursor: pointer; }

/* line 89, ../SASS/style.scss */
.btn-titlebar, .wizardBarItem input[type="button"] { background-color: #025673; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF025673', endColorstr='#FF014055'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTY3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxNDA1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #025673), color-stop(100%, #014055)); background-image: -webkit-linear-gradient(top, #025673 0%, #014055 100%); background-image: -moz-linear-gradient(top, #025673 0%, #014055 100%); background-image: -o-linear-gradient(top, #025673 0%, #014055 100%); background-image: -ms-linear-gradient(top, #025673 0%, #014055 100%); background-image: linear-gradient(top, #025673 0%, #014055 100%); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); border: 1px solid #013141; color: #FFF; padding: 8px 10px; text-shadow: 0 -1px 0 black; font-size: 12px; }

/* line 92, ../SASS/style.scss */
html { background: black url("https://admin.tritondigital.com/dashboard/Images/bg.png") scroll center top repeat-x; }

/* line 95, ../SASS/style.scss */
body { font-family: arial, helvetica, sans-serif; max-width: 100%; background: url("http://tdascreative.com/james/images/admin_header.jpg") no-repeat top center; padding: 120px 0 0; /* Until There is a container Wrapper Added*/ }
/* line 97, ../SASS/style.scss */
body > div:first-child { width: 1024px; background: #FFF; min-height: 1000px; }

/* line 99, ../SASS/style.scss */
ul, li { list-style-type: none; }

/* line 100, ../SASS/style.scss */
ul { padding: 0; margin: 0; }

/* line 101, ../SASS/style.scss */
img { max-width: 100%; display: block; }

/* line 102, ../SASS/style.scss */
a { text-decoration: none; }

/*Contest Creator */
/* line 106, ../SASS/style.scss */
.creationStart { padding: 10px 0; }
/* line 108, ../SASS/style.scss */
.creationStart li { margin: 10px 0; }

/* line 112, ../SASS/style.scss */
.contestcreator { font-size: 1.2em; text-align: center; width: 25%; margin: 0 auto; padding: 30px 15px; display: block; background: #EEE; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; color: #999; border: 1px solid #CCC; -webkit-box-shadow: inset 0 1px 0 white, 0 5px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0 1px 0 white, 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: inset 0 1px 0 white, 0 5px 0 rgba(0, 0, 0, 0.5); -webkit-transition: background, 0.2s; -moz-transition: background, 0.2s; -ms-transition: background, 0.2s; -o-transition: background, 0.2s; transition: background, 0.2s; text-shadow: 0 1px 0 #FFF; }
/* line 126, ../SASS/style.scss */
.contestcreator:visited { color: inherit; }
/* line 127, ../SASS/style.scss */
.contestcreator:hover { background-color: #025673; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF025673', endColorstr='#FF014055'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTY3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxNDA1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #025673), color-stop(100%, #014055)); background-image: -webkit-linear-gradient(top, #025673 0%, #014055 100%); background-image: -moz-linear-gradient(top, #025673 0%, #014055 100%); background-image: -o-linear-gradient(top, #025673 0%, #014055 100%); background-image: -ms-linear-gradient(top, #025673 0%, #014055 100%); background-image: linear-gradient(top, #025673 0%, #014055 100%); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); border: 1px solid #013141; -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.9); -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.9); box-shadow: 0 5px 0 rgba(0, 0, 0, 0.9); color: #FFF; text-shadow: 0 1px 0 #000; }
/* line 132, ../SASS/style.scss */
.contestcreator:hover:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/*Navigation*/
/* line 140, ../SASS/style.scss */
#di-secondary .nav-horizontal { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-color: #025673; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF025673', endColorstr='#FF014055'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTY3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxNDA1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #025673), color-stop(100%, #014055)); background-image: -webkit-linear-gradient(top, #025673 0%, #014055 100%); background-image: -moz-linear-gradient(top, #025673 0%, #014055 100%); background-image: -o-linear-gradient(top, #025673 0%, #014055 100%); background-image: -ms-linear-gradient(top, #025673 0%, #014055 100%); background-image: linear-gradient(top, #025673 0%, #014055 100%); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); border: 1px solid #013141; -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); display: inline-block; vertical-align: top; }
/* line 149, ../SASS/style.scss */
#di-secondary .nav-horizontal li { color: white; margin: 0; font-size: 12px; text-align: center; position: relative; width: 100px; border-left: 1px solid rgba(0, 0, 0, 0.5); border-right: 1px solid rgba(255, 255, 255, 0.2); }
/* line 160, ../SASS/style.scss */
#di-secondary .nav-horizontal li.flowbtn { width: 24px; text-indent: -9999em; }
/* line 163, ../SASS/style.scss */
#di-secondary .nav-horizontal li.flowbtn.next { border-right: none; }
/* line 164, ../SASS/style.scss */
#di-secondary .nav-horizontal li.flowbtn.prev { border-left: none; }
/* line 167, ../SASS/style.scss */
#di-secondary .nav-horizontal a { display: block; padding: 4px 0; text-align: center; color: #FFF; text-shadow: 0 1px 0 black; }
/* line 174, ../SASS/style.scss */
#di-secondary .nav-horizontal a:hover { background-color: #014055; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF014055', endColorstr='#FF025673'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNDA1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNTY3MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #014055), color-stop(100%, #025673)); background-image: -webkit-linear-gradient(top, #014055 0%, #025673 100%); background-image: -moz-linear-gradient(top, #014055 0%, #025673 100%); background-image: -o-linear-gradient(top, #014055 0%, #025673 100%); background-image: -ms-linear-gradient(top, #014055 0%, #025673 100%); background-image: linear-gradient(top, #014055 0%, #025673 100%); border: 1px solid #013141; border: none; }
/* line 175, ../SASS/style.scss */
#di-secondary .nav-horizontal a.flow { height: 24px; }
/* line 177, ../SASS/style.scss */
#di-secondary .nav-horizontal a.flow span { background: url("../images/next_previous.png") no-repeat; display: block; width: 6px; height: 10px; margin: 3px auto; }
/* line 185, ../SASS/style.scss */
#di-secondary .nav-horizontal a.next { -webkit-border-radius: 0 2px 2px 0px; -moz-border-radius: 0 2px 2px 0px; -ms-border-radius: 0 2px 2px 0px; -o-border-radius: 0 2px 2px 0px; border-radius: 0 2px 2px 0px; }
/* line 187, ../SASS/style.scss */
#di-secondary .nav-horizontal a.next span { background-position: -1px -10px; }
/* line 191, ../SASS/style.scss */
#di-secondary .nav-horizontal a.prev { -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
/* line 192, ../SASS/style.scss */
#di-secondary .nav-horizontal a.disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
/* line 193, ../SASS/style.scss */
#di-secondary .nav-horizontal a.selected { font-weight: bold; background: #014055; }

/* line 201, ../SASS/style.scss */
.wizardBarItem { height: 70px; background-color: #025673; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF025673', endColorstr='#FF014055'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTY3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxNDA1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #025673), color-stop(100%, #014055)); background-image: -webkit-linear-gradient(top, #025673 0%, #014055 100%); background-image: -moz-linear-gradient(top, #025673 0%, #014055 100%); background-image: -o-linear-gradient(top, #025673 0%, #014055 100%); background-image: -ms-linear-gradient(top, #025673 0%, #014055 100%); background-image: linear-gradient(top, #025673 0%, #014055 100%); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); border: 1px solid #013141; padding: 15px 20px; }
/* line 210, ../SASS/style.scss */
.wizardBarItem h1 { color: #FFF; text-shadow: 0 -1px 0 black; font-size: 1.5em; display: inline-block; width: 275px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 35px; }

/* line 225, ../SASS/style.scss */
#di-breadcrumbs { display: none; }

/*Contest Creation and Editing*/
/* line 228, ../SASS/style.scss */
#form-field-container { /* Registration Page */ /* Review Page */ /*Preview Column*/ /*form {position:relative;}
/*a { 
&.flow { bottom:0;  @extend .btn;  @include subtle-gradient;  font-size:14px;  padding:7px 0;  text-align:center;  color:#333;  min-width:100px;  bottom:18px;
}*/ }
/* line 229, ../SASS/style.scss */
#form-field-container .sub-heading { font-size: 1em; border-top: 1px solid #CCC; }
/* line 230, ../SASS/style.scss */
#form-field-container label { font-size: 14px; margin: .5em 0 .25em; }
/* line 231, ../SASS/style.scss */
#form-field-container section { padding: 20px 60px; }
/* line 232, ../SASS/style.scss */
#form-field-container .content-options { font-size: 12px; }
/* line 233, ../SASS/style.scss */
#form-field-container i { font-size: 10px; color: #666; }
/* line 238, ../SASS/style.scss */
#form-field-container #sortable li { color: #666; padding: 10px 10px 10px 30px; margin: 5px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 0 2px white; -moz-box-shadow: inset 0 0 2px white; box-shadow: inset 0 0 2px white; background-color: #fff; border: solid 1px #ccc; background-image: -webkit-linear-gradient(bottom, #eeeeee, white); background-image: -moz-linear-gradient(bottom, #eeeeee, white); background-image: -o-linear-gradient(bottom, #eeeeee, white); background-image: -ms-linear-gradient(bottom, #eeeeee, white); background-image: linear-gradient(to top, #eeeeee, #ffffff); }
/* line 252, ../SASS/style.scss */
#form-field-container #sortable li label { margin: 0 5px; color: #666; }
/* line 258, ../SASS/style.scss */
#form-field-container .reviewList li { margin: 10px 0; border: 1px solid; padding: 5px 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; *zoom: 1; position: relative; }
/* line 22, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#form-field-container .reviewList li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
/* line 265, ../SASS/style.scss */
#form-field-container .reviewList li:first-child { margin-top: 0; }
/* line 266, ../SASS/style.scss */
#form-field-container .reviewList li a { font-weight: bold; color: #FFF; padding: 4px 0; text-align: center; width: 70px; position: absolute; top: 16px; right: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
/* line 277, ../SASS/style.scss */
#form-field-container .reviewList li .reviewLabel { font-size: 12px; }
/* line 278, ../SASS/style.scss */
#form-field-container .reviewList li.error { background: #ffe1e1; border-color: #ff1515; color: #ff1515; }
/* line 282, ../SASS/style.scss */
#form-field-container .reviewList li.error a { background: #ff7b7b; }
/* line 284, ../SASS/style.scss */
#form-field-container .reviewList li.warning { background: #ffffd8; border-color: #a5a500; color: #a5a500; }
/* line 288, ../SASS/style.scss */
#form-field-container .reviewList li.warning a { background: #d8d800; }
/* line 290, ../SASS/style.scss */
#form-field-container .reviewList li.success { background: #ddffdd; border-color: #009000; color: #009000; }
/* line 294, ../SASS/style.scss */
#form-field-container .reviewList li.success a { background: #00aa00; }
/* line 296, ../SASS/style.scss */
#form-field-container .reviewList li.suggestion { background: #eeeeee; border-color: #888888; color: #888888; }
/* line 300, ../SASS/style.scss */
#form-field-container .reviewList li.suggestion a { background: #bbbbbb; }
/* line 302, ../SASS/style.scss */
#form-field-container .reviewList li strong { color: #333; width: 300px; display: block; }
/* line 307, ../SASS/style.scss */
#form-field-container .previewTheme img { padding: 5px; border: 1px solid #CCC; width: 100%; }
/* line 312, ../SASS/style.scss */
#form-field-container .basic-options fieldset { width: 45%; }
/* line 315, ../SASS/style.scss */
#form-field-container .basic-options fieldset:last-child { margin-left: 40px; }
/* line 318, ../SASS/style.scss */
#form-field-container .basic-options fieldset textarea, #form-field-container .basic-options fieldset input[type="text"] { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; width: 95%; color: #333333; background: #eeeeee; border: 1px solid #c8c8c8; padding: 5px; }
/* line 326, ../SASS/style.scss */
#form-field-container .basic-options fieldset textarea { min-height: 200px; }
/* line 344, ../SASS/style.scss */
#form-field-container #form-controls { width: 600px; text-align: center; font-size: 14px; }
/* line 346, ../SASS/style.scss */
#form-field-container #form-controls a { color: red; }
/* line 347, ../SASS/style.scss */
#form-field-container #form-controls button { background-color: #fcfdff; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFDFF', endColorstr='#FFDDDEE0'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGVlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfdff), color-stop(100%, #dddee0)); background-image: -webkit-linear-gradient(top, #fcfdff 0%, #dddee0 100%); background-image: -moz-linear-gradient(top, #fcfdff 0%, #dddee0 100%); background-image: -o-linear-gradient(top, #fcfdff 0%, #dddee0 100%); background-image: -ms-linear-gradient(top, #fcfdff 0%, #dddee0 100%); background-image: linear-gradient(top, #fcfdff 0%, #dddee0 100%); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2); border: 1px solid #cccccc; width: 90px; margin: 0 5px; padding: 7px 0; }

/*Theme Selector*/
/* line 3, ../SASS/_csseditor.scss */
#themes { height: 200px; background: #333; -webkit-box-shadow: inset 0 0 20px black; -moz-box-shadow: inset 0 0 20px black; box-shadow: inset 0 0 20px black; display: none; }

/*CSS Inline Editor*/
/* line 10, ../SASS/_csseditor.scss */
#theme-editor { background: url(../images/black-Linen.png) repeat; min-height: 1000px; position: relative; overflow: hidden; /*Device Preview*/ }
/* line 15, ../SASS/_csseditor.scss */
#theme-editor * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
/* line 18, ../SASS/_csseditor.scss */
#theme-editor #sidebar { min-height: 1000px; background-color: #222; width: 184px; padding-top: 10px; border-right: 3px solid #333333; position: relative; z-index: 5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 29, ../SASS/_csseditor.scss */
#theme-editor #content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; margin-left: 100px; position: absolute; }
/* line 36, ../SASS/_csseditor.scss */
#theme-editor #content iframe { width: 100%; height: 1100px; }
/* line 40, ../SASS/_csseditor.scss */
#theme-editor #content .framebg { position: absolute; z-index: 0; }
/* line 45, ../SASS/_csseditor.scss */
#theme-editor #contestPreview { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; position: absolute; z-index: 0; }
/* line 54, ../SASS/_csseditor.scss */
#theme-editor ul a { background: #333333; text-shadow: 0 -1px 0 black; color: #FFF; font-size: 13px; display: block; text-decoration: none; padding: 8px 3px; border-bottom: 1px solid #000; border-top: 1px solid #484848; border-top: 1px solid rgba(255, 255, 255, 0.2); }
/* line 66, ../SASS/_csseditor.scss */
#theme-editor ul span.closed { background: url(../images/icon-sprite.png) no-repeat; height: 18px; width: 16px; display: inline-block; margin-right: 5px; vertical-align: text-bottom; }
/* line 74, ../SASS/_csseditor.scss */
#theme-editor ul span.opened { background-position: -15px 0; }
/* line 75, ../SASS/_csseditor.scss */
#theme-editor ul li label { font-size: 12px; display: block; margin-bottom: 5px; }
/* line 82, ../SASS/_csseditor.scss */
#theme-editor .section-info { padding: 10px; display: none; background: url(../images/black-Linen.png) repeat; }
/* line 86, ../SASS/_csseditor.scss */
#theme-editor .section-info .brd-wrap { background: #171717; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding: 3px 0; width: auto; }
/* line 93, ../SASS/_csseditor.scss */
#theme-editor .section-info input { width: 68px; padding: 0 0px 0 10px; border: none; color: #cccccc; background: #171717; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 101, ../SASS/_csseditor.scss */
#theme-editor .section-info li { margin: 5px 0; }
/* line 104, ../SASS/_csseditor.scss */
#theme-editor .fileUpload { position: relative; overflow: hidden; margin-right: 4px; width: 80%; margin: 0 auto; display: block !important; background: #666; }
/* line 112, ../SASS/_csseditor.scss */
#theme-editor .fileUpload span { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; width: 80%; margin: 0 auto; display: block; text-align: center; }
/* line 119, ../SASS/_csseditor.scss */
#theme-editor .fileUpload input { position: absolute; top: 0; right: 0; border: solid transparent; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; border-width: 0 0 100px 200px; cursor: pointer; direction: ltr; }
/* line 129, ../SASS/_csseditor.scss */
#theme-editor .fileUpload:hover { background: #535353; }
/* line 133, ../SASS/_csseditor.scss */
#theme-editor .devices { padding: 7px; }
/* line 135, ../SASS/_csseditor.scss */
#theme-editor .devices a { display: inline-block; padding: 2px; font-size: 20px; color: #666; text-align: center; width: 80px; -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.5); box-shadow: 0 2px rgba(0, 0, 0, 0.5); }
/* line 144, ../SASS/_csseditor.scss */
#theme-editor .devices i { background: url(../images/icon-sprite.png) no-repeat; text-indent: -9999em; height: 22px; width: 24px; display: inline-block; vertical-align: text-top; }
/* line 152, ../SASS/_csseditor.scss */
#theme-editor .devices i.icon-desktop { background-position: -2px -21px; }
/* line 153, ../SASS/_csseditor.scss */
#theme-editor .devices i.icon-mobile { background-position: 3px -45px; }
/* line 154, ../SASS/_csseditor.scss */
#theme-editor .devices i.icon-facebook { background-position: -2px -68px; width: 13px; }
/* line 155, ../SASS/_csseditor.scss */
#theme-editor .devices i.icon-loyalty { background-position: -3px -92px; }
/* line 157, ../SASS/_csseditor.scss */
#theme-editor .devices span { display: inline-block; width: 86px; margin-bottom: 5px; }
/* line 162, ../SASS/_csseditor.scss */
#theme-editor .devices label { font-size: 12px; width: 65px; margin-left: 5px; display: inline-block; vertical-align: text-top; color: white; }
/* line 174, ../SASS/_csseditor.scss */
#theme-editor .mobilephone { margin: 50px auto; display: block !important; border: 2px solid #333; border-radius: 20px; background: #141414; padding: 70px 15px; -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5); box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5); }
/* line 177, ../SASS/_csseditor.scss */
#theme-editor .mobileBg { margin-left: 310px; margin-top: 50px; }
/* line 181, ../SASS/_csseditor.scss */
#theme-editor .brd-wrap { padding: 3px; background: #272626; border: 1px solid #000; display: block; width: 90%; border-radius: 4px; margin-bottom: 10px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
/* line 183, ../SASS/_csseditor.scss */
#theme-editor #themeSwitch { width: 100px; text-align: center; margin-right: 4px; }
/* line 185, ../SASS/_csseditor.scss */
#theme-editor #editor-close { width: 14px; text-align: center; text-indent: -9999em; }
/* line 186, ../SASS/_csseditor.scss */
#theme-editor #editor-close span { background: url(../images/icon-sprite.png) no-repeat; display: block; background-position: -4px -116px; }
/* line 189, ../SASS/_csseditor.scss */
#theme-editor .openEditor { position: absolute; z-index: 6; margin-left: -55px; height: 100%; border-right: 5px solid #535353; }
/* line 190, ../SASS/_csseditor.scss */
#theme-editor .openEditor button { position: absolute; top: 10px; border: none; cursor: pointer; }
/* line 192, ../SASS/_csseditor.scss */
#theme-editor .closed { margin-left: 0 !important; }
/* line 195, ../SASS/_csseditor.scss */
#theme-editor .btn, #theme-editor .btn-titlebar, #theme-editor .wizardBarItem input[type="button"], .wizardBarItem #theme-editor input[type="button"], #theme-editor #form-field-container #form-controls button, #form-field-container #form-controls #theme-editor button { display: inline-block; color: #FFF; text-shadow: 0 -1px 0 black; font-size: 12px; padding: 5px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.04); -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.04); box-shadow: 0 0 3px rgba(255, 255, 255, 0.04); border: solid 1px #090909; background: #505050; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); background-color: #505050; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
/* line 217, ../SASS/_csseditor.scss */
#theme-editor .btn.is-active, #theme-editor .is-active.btn-titlebar, #theme-editor .wizardBarItem input.is-active[type="button"], .wizardBarItem #theme-editor input.is-active[type="button"], #theme-editor #form-field-container #form-controls button.is-active, #form-field-container #form-controls #theme-editor button.is-active, #theme-editor .is-active { background-color: #025673; }
/* line 218, ../SASS/_csseditor.scss */
#theme-editor .btn.is-active, #theme-editor .is-active.btn-titlebar, #theme-editor .wizardBarItem input.is-active[type="button"], .wizardBarItem #theme-editor input.is-active[type="button"], #theme-editor #form-field-container #form-controls button.is-active, #form-field-container #form-controls #theme-editor button.is-active { -webkit-box-shadow: 0 1px 0 rgba(196, 196, 196, 0.1), inset 0 1px 3px rgba(0, 0, 0, 0.45); -moz-box-shadow: 0 1px 0 rgba(196, 196, 196, 0.1), inset 0 1px 3px rgba(0, 0, 0, 0.45); box-shadow: 0 1px 0 rgba(196, 196, 196, 0.1), inset 0 1px 3px rgba(0, 0, 0, 0.45); }
/* line 219, ../SASS/_csseditor.scss */
#theme-editor .viewport-active { background: #025673; }