form label.error, label.error {
	color: red;
	font-style: italic;
}
div.errorcontainer {
	background-color: #eee;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
}
div.errorcontainer ol li {
	list-style-type: disc;
	margin-left: 20px;
}
div.errorcontainer { display: none }
.errorcontainer label.error {
	display: inline;
}
input {
	border: 1px solid black;
}
input.checkbox {
	border: medium none;
}
input:focus {
	border: 1px dotted black;
}
input.error {
	border: 1px dotted red;
}

form label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}