$blue: #3CA9AE;
$dark-blue: #0E4138;
$light-blue: #42C0BF;
$board-blue: #AEE1D8;
$board-text-blue: #447981;
$board-highlight-blue: #C3DFC6;
$overlay-blue: #2EA0A0;
$button-blue: #137373;

$purple: #AE346D;
$dark-purple: #5A1439;
$light-purple: #E774AD;
$board-purple: #C996B5;
$board-highlight-purple: #BA2F6A;

$yellow: #DDA326;
$dark-yellow: #A4752A;

$gray: #8E8E8E;
$red: #BC3D37;
$error: #E1574C;