$td-polls-primary-color: #898787; /*gray*/
$td-polls-secondary-color: #4C4C4C; /*brighter gray*/
$td-polls-tertiary-color: #E8674A; /*gray blue*/
$td-polls-text-on-color: #ffffff; /*white*/

$td-polls-results-primary-color:  #373737; /*gray*/
$td-polls-results-orange: #E55433; /*red*/
