$border: #454545;
$button1: #ff6600;
$button2: #999999;
$link-color: #0066cc;

@mixin btn{
	//background:linear-gradient(to bottom,$button1,darken($button1,10%));
	background:$button1;
	border: solid 1px darken($button1,10%);
	border-bottom: solid 4px darken($button1,10%);
 	&:hover{
		//background:linear-gradient(to top,$button1,darken($button1,15%));
		background:darken($button1,10%);
		border-bottom-color: darken($button1,20%);
	}
}

@mixin btn-sub{
	//background:linear-gradient(to bottom,$button2,darken($button2,10%));
	background:$button2;
	border: none 1px darken($button2,20%);
	border-bottom: solid 4px darken($button2,10%);
	&:hover{
		//background:linear-gradient(to top,$button2,darken($button2,15%));
		background:darken($button2,10%);
		border-bottom-color: darken($button2,20%);

	}
	color:white;
}
@mixin radius($side,$px:6px){
	border-#{$side}-right-radius: $px;
	border-#{$side}-left-radius: $px;
}

body{
	margin:0px;
	background:{
		image: url('img/bg-body.jpg');
	}
	overflow:hidden;
}

button{
	display:block;
	@include radius(top);
	@include radius(bottom);
	cursor: pointer;
	z-index:200;
}


p{
	font-size:1em;
	margin:0px;
}

.bg-container{
	position:relative;
	background:{
		image:url('img/bg.png');
	}
	width:1000px;
	height:1080px;
	margin: 0px auto 0px auto;
}

.tour-mask{
	position:fixed;
	top:0px;
	height:100%;
	width:100%;
	background: black;
	opacity:0.8;
	z-index:100;
}
	.tour-modal-wrapper{
		position:absolute;
		bottom:0px;
		width:100%;
		height:400px;
		margin: 0px auto 0px auto;
		z-index:200;

	}

	.tour-modal-container{
		top:600px;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		position:relative;
		margin: 0px auto 0px auto;
		width:410px;
		height:inherit;
		//@include radius(top);
		background:white;
		padding: 70px;
		border-color:$border;
		box-shadow: 0px 0px 20px;
	}


	.modal-avatar-wrapper{
		
		position:absolute;
		left:0px;
		top:-75px;
		width:100%;
		height:150px;
		.modal-avatar{
			position:relative;		
			display:block;
			height:110px;
			width:130px;
			margin: 0px auto 0px auto;
			border:{
				color: white;
				width: 10px;
				style: solid;
			}
			@include radius(top,75px);
			@include radius(bottom,75px);
			background: $button1;
			color:white;
			padding-top:20px;
			text-align: center;
		}
	}

	.btn-back{
		display:none;
		position:absolute;
		padding:9px 30px 7px 30px;
		font-weight: bold;
		font-size:1.1em;
		top: 300px;
		left: -15px;
		width:105px;
		@include btn-sub;
	}

	.btn-next{
		display:none;
		@extend .btn-back;
		left: 460px;
		@include btn;
	}

	.btn-close{
		@extend .btn-back;
		color:black;
		left: 460px;
		@include btn-sub;
	}

	.modal-headline{
		position:relative;
		color:$button1;
		top:10px;
		//height:60px;
		margin-bottom:20px;
		//clear:both;
		font:{
			size:36px;
			weight:bold;
		}
		text-align: center;
		border:{
			bottom: solid 1px #c0c0c0;
		}
		padding-bottom:20px;
		//white-space:nowrap
	}

	.modal-headline-r{
		@extend .modal-headline;
		text-align:right;
		top:0px;

	}

	.modal-headline-l{
		@extend .modal-headline;
		text-align: left;
		top:0px;

	}



	.modal-content-wrapper{
		position:relative;
		height: 310px;
		overflow: hidden;
		.modal-content-container{
			position:absolute;
			//change for scrolling
			left:0px;
			width:2400px;
			height:100%;		
		}

		.modal-content-pane{
			width: 410px;
			float:left;
			margin-right:40px;
			height:100%;
			position:relative;
		}

		.button-lg{
			position:relative;
			display:block;
			margin: 40px auto 20px auto;
			padding:17px 15px 13px 15px;
			font-weight: bold;
			color:white;
			font-size:1.1em;
			width:250px;
			@include btn;
			
		}

		#go-profile{
			display: none;
			position:absolute;
			clear:both;
			bottom:-16px;
			left:80px;
		}

		.skip-tour{
			font-size:1em;
			display:block;
			width:100%;
			text-align: center;
			color: $link-color;
		}

		.block-text-l{
			margin-top:8px;
			display:block;
			width:50%;
			float:left;
			text-align: left;
			font-size: 1em;
		}

		.block-text-r{
			@extend .block-text-l;
			float:right;
			text-align:right;
		}

		.img-r{
			height:190px;
			width:190px;
			float:right;
		}

		.img-l{
			@extend .img-r;
			float:left;
		}

	}

.arrow{
	position:absolute;
	z-index: 101;

}

#arrow-getpoints{
	width:64px;
	height:76px;
	top: 40px;
	left: -80px;
}

#arrow-usepoints{
	width:59px;
	height:76px;
	top: 40px;
	right: -80px;
}

#arrow-profile{
	width:76px;
	height:62px;
	top: 55px;
	left: 30px;
}

#arrow-myaccount{
	width:75px;
	height:62px;
	top: 60px;
	left: -30px;
}


//dummy css

.Container-Header{
	position:relative;
	width:1000px;
	height:232px;
	background: url('img/station-header.jpg');

	margin:0px auto 0px auto;
}

#userbar{
	position:absolute;
	bottom: 0px;
	font-size:14px;
	width:1000px;
	display:block;
	height:40px;
	color:white;
	font-family: arial;

	#see_profile_menu{
		z-index: 1;
		position: absolute;
		width: 315px;
		display: block;
		height: 20px;
		top: 10px;
		left:10px;

		
	}

}

.opensee{
			text-decoration: underline;
			margin: 0 0 0 7px;
			cursor: pointer;
			position: relative;
			display: inline
}

#menucontainer{
	float: left;
	height: inherit;
	position: absolute;
	left: 380px;
}

.dropheader{
	position:relative;
	z-index:1;
	float: left;
	margin: 0 15px 0 0;
	text-align: center;
	position: relative;
	display: inline;
	height:20px;
	padding: 12px 14px 8px 14px;
	background:red;
	cursor:pointer;
}

#logincontrol{
	float: right;
	position: relative;
	right: 10px;

	.button{
		position:relative;
		z-index:1;
		padding: 6px;
		background-color: red;
		top:7px;
		float:right;
		margin-left:10px;
		cursor:pointer;
	}
}


